<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car | Car Bazar Scraper</title>

    <link rel="stylesheet" href="/res/css/car.css">
</head>
<body>

    


    <!-- Js -->
    <script type="module" src="/res/js/car.js"></script>
    
</body>
</html>