<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car | Car Bazar Scraper</title>

    <link rel="stylesheet" href="/res/css/car.css">
</head>
<body>

    <main class="main loading">
        <div class="main__preloader">
            <span class="preloader__rot"></span>
            <h2 class="preloader__title">Scraping</h2>
        </div>

        <div class="main__table">
            <h1 class="main__title">Scraped Data</h1>

            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Prize</th>
                    <th>Condition</th>
                    <th>Distance</th>
                    <th>Prod. Date</th>
                    <th>Body</th>
                    <th>Color</th>
                    <th>Fuel</th>
                    <th>Capacity</th>
                    <th>Performance</th>
                    <th>Transmission</th>
                    <th>Gear</th>
                    <th>Country</th>
                    <th>Telephone</th>
                    <th>Url</th>
                    <th>Img. Url</th>
                </tr>

                <tr>
                    <td>Jawa</td>
                    <td>48000</td>
                    <td>Ojeté</td>
                    <td>null</td>
                    <td>2/1980</td>
                    <td>Malé moto</td>
                    <td>null</td>
                    <td>Benzín</td>
                    <td>1</td>
                    <td>null</td>
                    <td>null</td>
                    <td>null</td>
                    <td>null</td>
                    <td>420602283428</td>
                    <td>
                        <a target="_blank" href="https://www.sauto.cz/motorky/detail/jawa/ostatni/164076649">https://www.sauto.cz/motorky/detail/jawa/ostatni/164076649</a>
                    </td>
                    <td>
                        <a target="_blank" href="https:///d19-a.sdn.cz/d_19/c_img_QO_Ek/wpoIa.jpeg?fl=exf|crr,1.33333,0|res,1024,768,1|wrm,/watermark/sauto.png,10,10|jpg,80,,1">https:///d19-a.sdn.cz/d_19/c_img_QO_Ek/wpoIa.jpeg?fl=exf|crr,1.33333,0|res,1024,768,1|wrm,/watermark/sauto.png,10,10|jpg,80,,1</a>
                    </td>
                </tr>
                <tr>
                    <td>Jawa</td>
                    <td>48000</td>
                    <td>Ojeté</td>
                    <td>null</td>
                    <td>2/1980</td>
                    <td>Malé moto</td>
                    <td>null</td>
                    <td>Benzín</td>
                    <td>1</td>
                    <td>null</td>
                    <td>null</td>
                    <td>null</td>
                    <td>null</td>
                    <td>420602283428</td>
                    <td>
                        <a target="_blank" href="https://www.sauto.cz/motorky/detail/jawa/ostatni/164076649">https://www.sauto.cz/motorky/detail/jawa/ostatni/164076649</a>
                    </td>
                    <td>
                        <a target="_blank" href="https:///d19-a.sdn.cz/d_19/c_img_QO_Ek/wpoIa.jpeg?fl=exf|crr,1.33333,0|res,1024,768,1|wrm,/watermark/sauto.png,10,10|jpg,80,,1">https:///d19-a.sdn.cz/d_19/c_img_QO_Ek/wpoIa.jpeg?fl=exf|crr,1.33333,0|res,1024,768,1|wrm,/watermark/sauto.png,10,10|jpg,80,,1</a>
                    </td>
            </table>
        </div>
    </main>


    <!-- Js -->
    <script type="module" src="/res/js/car.js"></script>
    
</body>
</html>