<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Bazar Scraper</title>

    
    <link rel="stylesheet" type="text/css" href="/res/css/home.css">
</head>
<body class="bodyChoose"> <!-- bodyChoose/bodyPreloader/bodyTable -->

    <!-- Type, Brand, Page, Mby how many -->
    <main class="main container">
        <h1 class="main__title">Car Bazar Web Scraper</h1>
        
        <div class="main__type">
            <h2 class="main__subtitle">Select Car Type</h2>

            <div class="main__container mainChoose mainType">
                <!-- <div class="main__bx selected">
                    <h3 class="main__name">Osobní</h3>
                    <img src="./views/res/img/car.png" alt="Icon of personal car" class="main__img">
                </div> -->
            </div>
        </div>
        
        <div class="main__type">
            <h2 class="main__subtitle">Select Car Brand</h2>

            <div class="main__bxContainer">
                <!-- <div class="main__container mainChoose mainBrand">
                    <div class="main__bx">
                        <h3 class="main__name">Audi</h3>
                        <img src="./views/res/img/autobusy.png" alt="Icon of Audi Company" class="main__img">
                    </div>
                </div> -->
            </div>
        </div>
        
        <div class="main__type">
            <h2 class="main__subtitle">Utilities</h2>

            <div class="util__container">
                <div class="util__bx">
                    <h3 class="util__name">Page Number</h3>
                    <input type="number" class="util__number" min="1" max="999" placeholder="1">
                </div>
                <div class="util__bx">
                    <h3 class="util__name">Number of Cars</h3>
                    <div class="util__set">
                        <input type="range" class="util__range" min="1" max="50" value="1">
                        <h4 class="util__count">1</h4>
                    </div>
                </div>
                <div class="util__bx">
                    <div class="util__db disabled">
                        <input type="checkbox" name="utilDb" id="utilDb" class="util__dbInput">
                        <span class="util__dbMark"></span>
                        <label for="utilDb" class="util__dbBtn">
                            Save to Database <br> Only for local users
                        </label>
                    </div>
                    <!-- <button class="util__btn">Save to Database <br> Only for local users</button> -->
                </div>
            </div>

            <button class="main__submit">View</button>
        </div>
    </main>


    <section class="preloader">
        <span class="preloader__rot"></span>
        <h2 class="preloader__title">Scraping</h2>
    </section>

    <section class="table container">
        <h1 class="main__title">Scraped Data</h1>

        <table class="main__table">
            <tbody>
                <tr>
                    <th>Name</th>
                    <th>Prize</th>
                    <th>Condition</th>
                    <th>Distance</th>
                    <th>Prod. Date</th>
                    <th>Body</th>
                    <th>Color</th>
                    <th>Fuel</th>
                    <th>Capacity</th>
                    <th>Performance</th>
                    <th>Transmission</th>
                    <th>Gear</th>
                    <th>Country</th>
                    <th>Telephone</th>
                    <th>Url</th>
                    <th>Img. Url</th>
                </tr>
            </tbody>

            <!-- <tr>
                <td>Jawa</td>
                <td>48000</td>
                <td>Ojeté</td>
                <td>null</td>
                <td>2/1980</td>
                <td>Malé moto</td>
                <td>null</td>
                <td>Benzín</td>
                <td>1</td>
                <td>null</td>
                <td>null</td>
                <td>null</td>
                <td>null</td>
                <td>420602283428</td>
                <td>
                    <a target="_blank" href="https://www.sauto.cz/motorky/detail/jawa/ostatni/164076649">https://www.sauto.cz/motorky/detail/jawa/ostatni/164076649</a>
                </td>
                <td>
                    <a target="_blank" href="https:///d19-a.sdn.cz/d_19/c_img_QO_Ek/wpoIa.jpeg?fl=exf|crr,1.33333,0|res,1024,768,1|wrm,/watermark/sauto.png,10,10|jpg,80,,1">https:///d19-a.sdn.cz/d_19/c_img_QO_Ek/wpoIa.jpeg?fl=exf|crr,1.33333,0|res,1024,768,1|wrm,/watermark/sauto.png,10,10|jpg,80,,1</a>
                </td>
            </tr> -->
        </table>
    </section>


    <!-- Js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/res/js/home.js"></script>
    
</body>
</html>