@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


body{
	margin: 0;
	padding: 0;
    font-family: 'Poppins', sans-serif;
	font-weight: 400;

    /* Just for footer development */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
html{
	box-sizing: border-box;
}
*,::after,::before{
	box-sizing: inherit;
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}



/* PAGE */
.container{
    padding: 36px 72px;
}

body.bodyChoose .main{
    display: flex;
}
body.bodyPreloader .preloader{
    display: grid;
}
body.bodyTable .table{
    display: flex;
}

/* MAIN */
.main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 40px;

    display: none;
}
.main__title{
    font-size: 46px;
    font-weight: 500;
    margin-bottom: 4px;
}
.main__type{
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    width: 100%;
}
.main__subtitle{
    font-size: 32px;
    font-weight: 400;
    text-align: center;
}
.main__container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 24px 46px;
}
.main__bxContainer .main__container{
    display: none;
}
.main__bxContainer .main__container.active{
    display: grid;
}
.main__bxContainer{
    display: grid;
}
.main__bxContainer .main__container{
    grid-row: 1;
    grid-column: 1;
}
.main__bx{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    border-radius: 8px;
    padding-inline: 6px;
    transition: color 200ms ease-in-out, background-color 200ms ease-in-out;
}
.main__bx::before,
.main__bx::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 0%;
    border-style: solid;
    border-color: transparent;
    border-radius: inherit;
    transition: width 200ms ease-in-out, height 200ms ease-in-out, border-color 200ms;
}
.main__bx:hover::before,
.main__bx:hover::after{
    width: 100%;
    height: 100%;
    border-color: black;
    transition: width 200ms ease-in-out, height 200ms ease-in-out, border-color 1ms;
}
.main__bx::after{
    border-width: 0 0 2px 2px;
    left: 0;
    bottom: 0;
}
.main__bx::before{
    border-width: 2px 2px 0 0;
    right: 0;
    top: 0;
}

.main__container.mainType .main__bx.selected{
    background-color: black;
    color: white;
}
.main__container.mainType .main__bx.selected .main__img{
    filter: brightness(0) invert(1);
}

.main__container.mainBrand .main__bx.selected::before,
.main__container.mainBrand .main__bx.selected::after{
    width: 100%;
    height: 100%;
    border-color: black;
}

.main__name{
    font-size: 22px;
    font-weight: 400;
    margin-bottom: -2px;
}
.main__img{
    width: 102px;
    height: 85px;
    object-fit: contain;
    -webkit-user-drag: none;
    transition: filter 200ms ease-in-out;
}

.util__container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    column-gap: 60px;
}
.util__bx{
    display: flex;
    flex-direction: column;
    align-items: normal;
    justify-content: center;
    row-gap: 10px;
    text-align: center;
}
.util__name{
    font-size: 24px;
    font-weight: 400;
}
.util__number{
    text-align: center;
    font-size: 18px;
    padding: 10px 8px;
    width: 200px;
    margin: 0;
    border: 2px solid black;
    border-radius: 8px;
}
.util__set{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
}
.util__range{
    -webkit-appearance: none;
    appearance: none;
    width: 160px;
    height: 36px;
    background: #d3d3d3;
    outline: none;
    border-radius: 8px;
    padding: 10px;
}
.util__range::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 20px;
    background: black;
    cursor: pointer;
    border-radius: 8px;
}
.util__count{
    font-size: 20px;
    font-weight: 400;
    width: 30px;
}
.util__db{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 16px;
}
.util__dbInput{
    display: none;
}
.util__dbMark{
    display: block;
    width: 35px;
    height: 35px;
    background-color: white;
    border: 2px solid black;
}
.util__dbInput:checked ~ .util__dbMark{
    background-color: black;
}
.util__dbBtn{
    font-size: 20px;
    background-color: black;
    color: white;
    border: 2px solid black;
    outline: none;
    line-height: 1.8;
    padding: 10px 24px;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
    transition: color 200ms ease-in-out, background-color 200ms ease-in-out;
}
.util__db.disabled .util__dbBtn{
    cursor: not-allowed;
    opacity: 0.7;
}
.util__db.disabled .util__dbMark{
    display: none;
}


.main__submit{
    font-size: 24px;
    font-weight: 400;
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 10px 86px;
    border-radius: 10px;
    width: fit-content;
    align-self: center;
    cursor: pointer;
    transition: color 200ms ease-in-out, background-color 200ms ease-in-out;
}
.main__submit:hover{
    background-color: black;
    color: white;
}

/* Preloader */
.preloader{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: white;
    user-select: none;

    display: none;
}
.preloader__rot{
    display: block;
    width: 190px;
    height: 190px;
    border: 16px solid white;
    border-top: 16px solid black;
    border-bottom: 16px solid black;
    border-radius: 50%;
    grid-row: 1;
    grid-column: 1;
    animation: preloader 1600ms cubic-bezier(0.72, 0.03, 0.38, 0.91) infinite;
}
.preloader__title{
    grid-row: 1;
    grid-column: 1;
    text-transform: uppercase;
    z-index: 10;
    font-size: 26px;
    font-weight: 500;
    animation: preloaderScale 1600ms linear infinite;
}

@keyframes preloader {
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: 360deg;
    }
}

@keyframes preloaderScale {
    0%{
        scale: 1;
    }
    25%{
        scale: 0.9;
    }
    50%{
        scale: 1;
    }
    75%{
        scale: 1.1;
    }
    100%{
        scale: 1;
    }
}


/* Table */
.table{
    display: flex;
    flex-direction: column;
    row-gap: 32px;

    display: none;
}
.main__title{
    font-size: 40px;
    text-align: center;
    font-weight: 500;
}
.main__table{
    border-spacing: 0;
}
.main__table tr:first-of-type{
    background-color: black;
    color: white;
}
.main__table th, .main__table td{
    border: 1px solid black;
}
.main__table th:not(:last-of-type){
    border-right: 1px solid white;
}
.main__table th{
    font-weight: 600;
    padding: 11px;
}
.main__table td{
    text-align: center;
    font-size: 15px;
    padding: 14px 6px;
}
.main__table td a{
    color: black;
    text-decoration: none;
    border-bottom: 2px dotted black;
    padding-bottom: 2px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 220px;
}
.main__table tr:nth-of-type(odd):not(:first-of-type){
    background-color: #ececec;
}